@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Montserrat", "Tahoma", sans-serif; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header {
  background-color: #ffffff;
  position: relative; }
  .header .wrapper {
    display: grid;
    grid-template-columns: 1fr 249px 248px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 99px; }
    @media (max-width: 1023px) {
      .header .wrapper {
        padding-top: 4px;
        min-height: 50px; } }
    @media (max-width: 767px) {
      .header .wrapper {
        grid-template-columns: 1fr 1fr 1fr; } }

.header__logo-svg {
  margin-left: 23px; }
  @media (max-width: 1023px) {
    .header__logo-svg {
      margin-left: 22px;
      width: 43px; } }
  @media (max-width: 1023px) {
    .header__logo-svg {
      margin-left: 17px; } }

@media (max-width: 1023px) {
  .header__nav-items {
    display: none; } }

.header__nav-item {
  color: #141517;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 37px; }
  .header__nav-item:hover {
    color: #fe7865; }

.header__phone-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px; }
  .header__phone-wrap:hover .header__phone {
    color: #fe7865; }
  .header__phone-wrap:hover path {
    stroke: #fe7865; }
  @media (max-width: 1023px) {
    .header__phone-wrap {
      display: none; } }

.header__phone {
  color: #141517;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-left: 10px; }

.header__humb {
  position: absolute;
  top: 50px;
  padding-top: 65px;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 1/-1;
  z-index: 1; }
  @media (max-width: 1023px) {
    .header__humb--active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .header__humb--nojs {
    position: relative; }
    @media (max-width: 1023px) {
      .header__humb--nojs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }

.header__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 50px;
  background-color: #fe7865;
  border: none;
  cursor: pointer;
  display: none; }
  @media (max-width: 1023px) {
    .header__btn {
      display: block; } }
  @media (max-width: 767px) {
    .header__btn {
      width: 50px; } }
  .header__btn--active {
    background-color: #ffffff; }
    .header__btn--active .header__btn-line {
      -webkit-box-shadow: none;
              box-shadow: none;
      background-color: rgba(20, 21, 23, 0.2);
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      position: relative; }
      .header__btn--active .header__btn-line::after {
        content: "";
        position: absolute;
        width: 22.5px;
        height: 1px;
        background-color: rgba(20, 21, 23, 0.2);
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        top: 0;
        left: 1px; }

.header__btn-line {
  display: block;
  width: 22.5px;
  height: 1px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-box-shadow: 0 5.25px #ffffff, 0 -5.25px #ffffff;
          box-shadow: 0 5.25px #ffffff, 0 -5.25px #ffffff; }

.header__humb-link {
  background-color: #fbf8f8;
  padding: 17px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  line-height: 140%;
  color: #48494d;
  position: relative; }
  .header__humb-link::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 7.4L13.6 12L9 16.6L10.4 18L16.4 12L10.4 6L9 7.4Z' fill='%232C2E3F' fill-opacity='0.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='7.4' fill='white' transform='translate(9 18) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); }

.main-top {
  position: relative; }
  .main-top .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 860px; }
    @media (max-width: 1023px) {
      .main-top .wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        min-height: 344px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start; } }
  .main-top::after {
    content: "";
    position: absolute;
    background-image: url("../img/background-desktop@1x.jpg");
    background-color: #6e6ee0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
    top: 0;
    z-index: -1; }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .main-top::after {
        background-image: url("../img/background-desktop@2x.jpg"); } }
    @media (max-width: 1023px) {
      .main-top::after {
        min-height: 344px; } }
    @media (max-width: 767px) {
      .main-top::after {
        background-image: url("../img/background-tablet@1x.jpg");
        min-height: 235px; } }
  @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
    .main-top::after {
      background-image: url("../img/background-tablet@2x.jpg"); } }
    @media (max-width: 320px) {
      .main-top::after {
        background-image: url("../img/background-mobile@1x.jpg"); } }
  @media (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (min-resolution: 2dppx) {
    .main-top::after {
      background-image: url("../img/background-mobile@2x.jpg"); } }

.main-top__container {
  width: 412px;
  min-height: 379px;
  margin-top: -109px;
  margin-right: 65px; }
  @media (max-width: 1023px) {
    .main-top__container {
      text-align: center;
      min-height: 201px;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.main-top__text {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  color: #ffffff;
  width: 412px;
  min-height: 159px; }
  @media (max-width: 1023px) {
    .main-top__text {
      width: 398px;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
      min-height: 45px;
      font-size: 32px;
      padding-top: 58px; } }
  @media (max-width: 767px) {
    .main-top__text {
      max-width: 294px;
      min-height: 72px;
      margin-top: 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0;
      padding-top: 82px; } }

.main-top__desc {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px;
  color: #ffffff;
  width: 376px;
  min-height: 76px;
  margin-top: 29px;
  margin-bottom: 33px; }
  @media (max-width: 1023px) {
    .main-top__desc {
      width: 398px;
      text-align: center;
      letter-spacing: -0.466667px;
      color: #ffffff;
      margin-top: 14px;
      margin-bottom: 10px; } }
  @media (max-width: 767px) {
    .main-top__desc {
      max-width: 288px;
      min-height: 108px;
      color: #2c2e3f;
      margin-top: 99px;
      margin-bottom: 20px; } }

.main-top__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fe7865;
  width: 340px;
  min-height: 75px;
  padding: 30px 40px;
  cursor: pointer;
  text-decoration: none; }
  .main-top__btn:hover {
    background-color: #f17d4b; }
  @media (max-width: 1023px) {
    .main-top__btn {
      width: 250px;
      min-height: 50px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      padding: 17px 40px; } }
  @media (max-width: 767px) {
    .main-top__btn {
      width: 288px;
      min-height: 50px; } }

.main-top__btn-text {
  margin: 0; }

.visit {
  min-height: 1297px;
  padding-top: 199px; }
  .visit .wrapper {
    padding-left: 23px; }
    @media (max-width: 1023px) {
      .visit .wrapper {
        text-align: center;
        padding: 0; } }
  @media (max-width: 1023px) {
    .visit {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .visit {
      padding-top: 108px; } }

.visit__text {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
  width: 358px;
  min-height: 160px;
  margin: 0; }
  .visit__text::after {
    content: "";
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 228.51px;
    height: 4px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .visit__text::after {
        content: none; } }
  @media (max-width: 1023px) {
    .visit__text {
      font-size: 30px;
      line-height: 150%;
      color: #2c2e3f;
      margin: 0 auto;
      min-height: 45px;
      width: 100%;
      letter-spacing: 0; } }
  @media (max-width: 767px) {
    .visit__text {
      font-size: 24px; } }

.visit__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  width: 328px;
  min-height: 56px;
  margin: 0;
  margin-top: 66px;
  margin-bottom: 54px; }
  @media (max-width: 1023px) {
    .visit__desc {
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.466667px;
      color: rgba(44, 46, 63, 0.7);
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .visit__desc {
      width: 288px;
      margin: 11px auto 19px; } }

.visit__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1170px; }
  @media (max-width: 1023px) {
    .visit__cards {
      width: 605px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .visit__cards {
      width: 288px; } }

.visit__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 60px;
  margin-bottom: 101px;
  position: relative;
  width: 350px;
  min-height: 430px;
  background-color: #6e6ee0; }
  .visit__card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .visit__card:hover .visit__card-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .visit__card:nth-child(3n) {
    margin-right: 0; }
  .visit__card:last-child {
    margin-right: 0; }
  @media (max-width: 1023px) {
    .visit__card {
      width: 288px;
      min-height: 425px;
      margin: 0;
      margin-bottom: 20px; }
      .visit__card:nth-child(2n) {
        margin-left: 29px; } }
  @media (max-width: 767px) {
    .visit__card {
      margin: 0;
      margin-bottom: 35px; }
      .visit__card:nth-child(2n) {
        margin-left: 0; } }

.visit__card-name {
  display: block;
  margin: 0;
  width: 215px;
  min-height: 57px;
  padding: 16px 0;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.415px;
  color: #2c2e3f;
  z-index: 1; }

.visit__card-btn-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 21, 23, 0.6);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.visit__card-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 30px 25px;
  border: 1px solid rgba(255, 255, 255, 0.7); }

.tabs {
  margin-top: -4px;
  background-image: url("../img/places-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 239px 133px;
  min-height: 1223px; }
  .tabs .wrapper {
    padding-left: 24px;
    padding-right: 0;
    overflow: hidden; }
    @media (max-width: 1023px) {
      .tabs .wrapper {
        padding-left: 12px;
        padding-right: 11px; } }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .tabs {
      background-image: url("../img/places-desktop@2x.png"); } }
  @media (max-width: 1023px) {
    .tabs {
      background-image: none;
      min-height: auto;
      margin-top: 88px; } }
  @media (max-width: 767px) {
    .tabs {
      margin-top: 5px; } }

.tabs__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 902px;
  min-height: 39px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3); }
  @media (max-width: 1023px) {
    .tabs__list {
      margin-left: 25px; } }
  @media (max-width: 767px) {
    .tabs__list {
      margin-left: 3px; } }

.tabs__name {
  list-style: none; }
  .tabs__name a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    letter-spacing: -0.415px;
    color: rgba(44, 46, 63, 0.3);
    text-decoration: none; }
  .tabs__name--active a {
    color: #fe7865; }

.tabs__desc {
  margin: 0;
  padding: 0;
  margin-top: 89px; }
  @media (max-width: 1023px) {
    .tabs__desc {
      margin-top: 33px; } }
  @media (max-width: 767px) {
    .tabs__desc {
      margin-top: 24px; } }

.tabs__item {
  position: relative;
  list-style: none;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-max-content 1fr 75px;
  grid-template-rows: max-content 1fr 75px; }
  .tabs__item--active {
    display: grid; }
  @media (max-width: 1023px) {
    .tabs__item {
      grid-template-rows: 45px 1fr 50px; } }
  @media (max-width: 767px) {
    .tabs__item {
      margin: 0 auto; } }

.tabs__item-text {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
  position: relative;
  z-index: 1;
  margin-bottom: -11px; }
  .tabs__item-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 175px;
    height: 3px;
    background-color: #fe7865; }
  @media (max-width: 1023px) {
    .tabs__item-text {
      text-align: center;
      grid-column: 1/-1;
      font-size: 30px;
      line-height: 150%;
      letter-spacing: 0; }
      .tabs__item-text::after {
        content: none; } }
  @media (max-width: 767px) {
    .tabs__item-text {
      font-size: 24px;
      line-height: 150%; } }

.tabs__item-desc {
  margin: 0;
  margin-top: 59px;
  margin-bottom: 49px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
  width: 370px;
  min-height: 308px;
  grid-row: 2/3;
  z-index: 1; }
  @media (max-width: 1023px) {
    .tabs__item-desc {
      grid-column: 1/-1;
      text-align: center;
      width: 100%;
      min-height: 104px;
      margin-bottom: 19px;
      margin-top: 20px;
      padding: 0 4px; } }
  @media (max-width: 767px) {
    .tabs__item-desc {
      margin-top: 11px; } }

.tabs__item-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fe7865;
  text-decoration: none;
  width: 250px;
  padding: 30px 39px;
  grid-row: 3/4;
  z-index: 1; }
  .tabs__item-btn:hover {
    background-color: #f17d4b; }
  @media (max-width: 1023px) {
    .tabs__item-btn {
      grid-column: 1/-1;
      margin: 0 auto;
      padding: 19px 51px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .tabs__item-btn {
      width: 288px;
      padding: 20px 70px; } }

.tabs__item-photo {
  position: absolute;
  top: -10px;
  right: 276px;
  background-color: #898989; }
  @media (max-width: 1023px) {
    .tabs__item-photo {
      top: auto;
      left: -12px;
      bottom: 32px;
      width: calc(100% + 23px);
      height: 415px;
      overflow: hidden; } }
  @media (max-width: 767px) {
    .tabs__item-photo {
      bottom: 71px; } }

.tabs__feedback {
  width: 382px;
  min-height: 367px;
  padding: 30px;
  padding-bottom: 0;
  background-color: #ffffff;
  z-index: 1;
  grid-row: 2/3;
  margin-right: 6px;
  align-self: center;
  justify-self: end; }
  @media (max-width: 1023px) {
    .tabs__feedback {
      grid-row: 4;
      grid-column: 1/-1;
      align-self: end;
      justify-self: center;
      margin-top: 110px; } }
  @media (max-width: 767px) {
    .tabs__feedback {
      width: 268px;
      text-align: center;
      padding: 0 22px;
      padding-top: 22px; } }

.tabs__feedback-name {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: #2c2e3f;
  margin: 0; }
  .tabs__feedback-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 68px;
    height: 1px;
    background-color: #fe7865; }
  @media (max-width: 767px) {
    .tabs__feedback-name {
      font-size: 20px;
      line-height: 24px; }
      .tabs__feedback-name::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }

.tabs__feedback-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: rgba(44, 46, 63, 0.7);
  margin: 0;
  margin-top: 34px;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    .tabs__feedback-text {
      margin-bottom: 15px; } }

.tabs__feedback-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px; }
  @media (max-width: 767px) {
    .tabs__feedback-info {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.tabs__feedback-people {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  color: #2c2e3f; }
  @media (max-width: 767px) {
    .tabs__feedback-people {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      margin-left: 12px;
      margin-top: 11px; } }

.price {
  margin-top: -270px; }
  .price .wrapper {
    padding-left: 23px; }
    @media (max-width: 1023px) {
      .price .wrapper {
        padding: 0; } }
  @media (max-width: 1023px) {
    .price {
      margin-top: 80px; } }
  @media (max-width: 767px) {
    .price {
      margin-top: 41px; } }

.price__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1023px) {
    .price__items {
      display: grid;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
      grid-template-columns: 350px 350px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      justify-items: center;
      row-gap: 30px; } }
  @media (max-width: 767px) {
    .price__items {
      grid-template-columns: 1fr; } }

.price__item {
  display: grid;
  grid-template-rows: -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content max-content 1fr max-content;
  width: 372px;
  min-height: 676px;
  padding: 30px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px; }
  .price__item:nth-child(2) .price__text-head {
    letter-spacing: -2px; }
  .price__item:nth-child(3) {
    grid-template-rows: 1fr 2fr 2fr;
    padding-right: 0;
    padding-top: 114px;
    padding-left: 75px;
    padding-bottom: 0;
    border: none; }
    @media (max-width: 1023px) {
      .price__item:nth-child(3) {
        grid-column: 1/-1;
        grid-row: 1;
        padding: 0;
        width: 100%;
        grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-rows: max-content max-content max-content;
        min-height: auto; } }
    @media (max-width: 767px) {
      .price__item:nth-child(3) {
        margin-bottom: 6px; } }
  .price__item:hover:not(:nth-child(3)) {
    border: 3px solid #fe7865;
    padding: 28px; }
    .price__item:hover:not(:nth-child(3)) .price__text-head {
      color: #fe7865; }
    .price__item:hover:not(:nth-child(3)) .price__text-add {
      color: #fe7865; }
    .price__item:hover:not(:nth-child(3)) .price__adv::after {
      content: "";
      top: 0;
      left: -34px;
      background-image: url("../img/icon/check.svg"); }
      @media (max-width: 1023px) {
        .price__item:hover:not(:nth-child(3)) .price__adv::after {
          top: 6px;
          left: -31px; } }
    @media (max-width: 1023px) {
      .price__item:hover:not(:nth-child(3)) {
        padding: 18px;
        padding-bottom: 0;
        margin-bottom: -2px; } }
  @media (max-width: 1023px) {
    .price__item {
      text-align: center;
      width: 288px;
      padding: 20px;
      min-height: 631px;
      padding-bottom: 0;
      grid-template-rows: -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content max-content 1fr max-content; } }
  @media (max-width: 767px) {
    .price__item {
      min-height: 584px; } }

.price__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1023px) {
    .price__text {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      grid-row: 1/2;
      width: 248px; } }

.price__text-head {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-top: 10px;
  line-height: 38px;
  color: rgba(20, 21, 23, 0.7); }
  @media (max-width: 1023px) {
    .price__text-head {
      font-size: 24px;
      width: 100%; } }

.price__text-add {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  margin-top: 17px;
  color: rgba(20, 21, 23, 0.7); }
  @media (max-width: 1023px) {
    .price__text-add {
      margin-top: 9px; } }

.price__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2c2e3f;
  margin-top: 38px;
  margin-bottom: 59px;
  width: 275px;
  position: relative; }
  .price__desc::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 310px;
    height: 1px;
    background-color: #fe7865;
    opacity: 0.5; }
    @media (max-width: 1023px) {
      .price__desc::after {
        width: 248px;
        left: 0;
        bottom: -9px; } }
  @media (max-width: 1023px) {
    .price__desc {
      width: 248px;
      margin-top: 15px;
      margin-bottom: 30px; } }

.price__list {
  margin: 0;
  padding: 0;
  padding-left: 28px; }
  @media (max-width: 1023px) {
    .price__list {
      text-align: start;
      width: 247px;
      padding-left: 30px; } }
  @media (max-width: 767px) {
    .price__list {
      margin-bottom: 20px; } }

.price__adv {
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #2c2e3f;
  margin-bottom: 12px;
  position: relative;
  padding-right: 2px; }
  .price__adv::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    background-image: url("../img/icon/check2.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px; }
    @media (max-width: 1023px) {
      .price__adv::after {
        top: 11px;
        left: -27px; } }
  @media (max-width: 1023px) {
    .price__adv {
      line-height: 31px;
      margin-bottom: 11px; } }

.price__btn {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 30px 67px;
  background-color: #fe7865; }
  .price__btn:hover {
    background-color: #f17d4b; }
  @media (max-width: 1023px) {
    .price__btn {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      padding: 19px 70px;
      width: 288px;
      margin-left: -21px; } }

.price__spec-head {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #2c2e3f;
  grid-row: 1/2;
  margin: 0;
  position: relative; }
  .price__spec-head::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .price__spec-head::after {
        content: none; } }
  @media (max-width: 1023px) {
    .price__spec-head {
      font-weight: 600;
      font-size: 30px;
      line-height: 150%;
      color: #2c2e3f; } }
  @media (max-width: 767px) {
    .price__spec-head {
      font-size: 24px; } }

.price__spec-add {
  margin: 0;
  margin-top: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgba(44, 46, 63, 0.7); }
  @media (max-width: 1023px) {
    .price__spec-add {
      margin-top: 20px;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .price__spec-add {
      padding: 0 16px;
      margin-bottom: 17px; } }

.price__contact {
  padding-left: 47px; }
  @media (max-width: 1023px) {
    .price__contact {
      padding: 0; } }

.price__contact-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: #141517;
  margin-top: 50px;
  margin-bottom: 12px; }
  @media (max-width: 1023px) {
    .price__contact-text {
      margin-top: 0;
      font-size: 18px; } }

.price__contact-tel {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
  position: relative; }
  .price__contact-tel svg {
    position: absolute;
    top: -4px;
    left: -50px; }
  .price__contact-tel:hover {
    color: #f17d4b; }
  @media (max-width: 1023px) {
    .price__contact-tel {
      font-size: 18px; } }

.question {
  background-image: url("../img/background-question-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 36.5%;
  min-height: 455px;
  margin-top: 136px; }
  .question .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 454px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .question {
      background-image: url("../img/background-question-desktop@2x.jpg"); } }
  @media (max-width: 1023px) {
    .question {
      background-size: cover;
      margin-top: 94px; } }
  @media (max-width: 767px) {
    .question {
      background-image: none;
      margin-top: 44px;
      min-height: 441px; } }

.question__container {
  width: 656px;
  min-height: 315px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 30px rgba(44, 46, 63, 0.1);
          box-shadow: 0 4px 30px rgba(44, 46, 63, 0.1);
  border-radius: 5px;
  padding: 50px;
  padding-left: 45px;
  padding-right: 43px;
  padding-bottom: 48px;
  margin-right: 0;
  margin-left: auto;
  padding-top: 50px; }
  @media (max-width: 1023px) {
    .question__container {
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .question__container {
      width: 320px;
      background-color: #fbf8f8;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding: 50px 16px; } }

.question__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #141517;
  text-align: center;
  margin: 0;
  margin-left: 11px; }
  @media (max-width: 1023px) {
    .question__text {
      margin: 0; } }

.question__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #141517;
  text-align: center;
  margin: 0;
  margin-top: 12px;
  margin-left: 12px;
  margin-bottom: 23px; }
  @media (max-width: 1023px) {
    .question__desc {
      margin-top: 12px;
      margin-left: 0;
      margin-bottom: 23px; } }
  @media (max-width: 767px) {
    .question__desc {
      margin: 20px 0; } }

.question__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px; }
  @media (max-width: 1023px) {
    .question__form {
      padding-left: 4px;
      padding-right: 5px; } }
  @media (max-width: 767px) {
    .question__form {
      padding: 0; } }

.question__label {
  position: absolute;
  top: 17px;
  left: 26px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }
  .question__label::after {
    content: "*";
    position: absolute;
    color: #fe7865;
    top: -8px;
    left: -11px; }
  @media (max-width: 767px) {
    .question__label {
      left: 27px; } }

.question__control {
  background-color: #ffffff;
  border: 1px solid rgba(44, 46, 63, 0.3);
  padding: 16px 15px 15px 51px;
  width: 269px;
  min-height: 50px; }
  @media (max-width: 767px) {
    .question__control {
      width: 288px;
      margin-bottom: 20px; } }

.question__control-wrap {
  position: relative; }
  .question__control-wrap--active::before {
    content: "Данные не верны";
    position: absolute;
    top: -19px;
    left: 0;
    color: #fe7865;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; }
  .question__control-wrap--active .question__control {
    border: 1px solid #fe7865; }
  .question__control-wrap:nth-child(2) .question__control {
    padding: 16px 15px 15px 14px; }

.question__btn {
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 39px 17px 40px;
  margin-top: 24px;
  background-color: #fe7865;
  border: none;
  cursor: pointer; }
  .question__btn:hover {
    background-color: #f17d4b; }
  @media (max-width: 1023px) {
    .question__btn {
      padding: 19px 84px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      margin-top: 19px; } }
  @media (max-width: 767px) {
    .question__btn {
      margin-top: 0;
      padding: 19px 103px; } }

.question__control::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }

.question__control:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }

.footer {
  margin-top: 155px; }
  .footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 16px;
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px; }
    @media (max-width: 1180px) {
      .footer .wrapper {
        grid-template-columns: 1fr 1fr;
        padding: 0;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0; } }
    @media (max-width: 767px) {
      .footer .wrapper {
        grid-template-columns: 1fr; } }
  @media (max-width: 1023px) {
    .footer {
      margin-top: 66px; } }
  @media (max-width: 767px) {
    .footer {
      margin-top: 47px; } }

.footer__next {
  padding-left: 21px;
  position: relative; }
  .footer__next::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -5px;
    height: 189px;
    width: 1px;
    background-color: #d7d9df; }
    @media (max-width: 1023px) {
      .footer__next::after {
        top: 15px;
        right: -20px;
        height: 176px; } }
    @media (max-width: 767px) {
      .footer__next::after {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 288px;
        height: 1px; } }
  @media (max-width: 767px) {
    .footer__next {
      padding: 0;
      padding-right: 11px; } }

.footer__next-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
  margin-bottom: 22px; }
  @media (max-width: 767px) {
    .footer__next-text {
      text-align: center; } }

.footer__next-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 383px;
  min-height: 125px;
  padding: 0; }
  .footer__next-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  @media (max-width: 1023px) {
    .footer__next-list {
      width: 375px; } }
  @media (max-width: 767px) {
    .footer__next-list {
      width: 288px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto; }
      .footer__next-list ul {
        margin-bottom: 10px; } }

.footer__next-country {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  list-style: none;
  margin-bottom: 10px; }
  @media (max-width: 767px) {
    .footer__next-country {
      width: 144px;
      text-align: center; } }

.footer__contacts {
  padding-left: 91px;
  position: relative; }
  .footer__contacts::after {
    content: "";
    position: absolute;
    top: 14px;
    right: -5px;
    height: 189px;
    width: 1px;
    background-color: #d7d9df; }
    @media (max-width: 1023px) {
      .footer__contacts::after {
        content: none; } }
  @media (max-width: 1023px) {
    .footer__contacts {
      padding-left: 70px; } }
  @media (max-width: 767px) {
    .footer__contacts {
      padding: 0;
      text-align: center; } }

.footer__contacts-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
  margin-bottom: 21px; }
  @media (max-width: 767px) {
    .footer__contacts-text {
      margin-top: 28px;
      padding-right: 11px; } }

.footer__mail {
  margin-bottom: 20px;
  margin-left: 41px;
  position: relative; }
  .footer__mail svg {
    position: absolute;
    top: 0;
    left: -40px; }
    @media (max-width: 767px) {
      .footer__mail svg {
        left: 0; } }
  @media (max-width: 767px) {
    .footer__mail {
      width: 288px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding-left: 28px; } }

.footer__mail-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fe7865; }

.footer__tel {
  margin-left: 41px;
  position: relative; }
  .footer__tel svg {
    position: absolute;
    top: 0;
    left: -40px; }
    @media (max-width: 767px) {
      .footer__tel svg {
        left: 34px; } }
  @media (max-width: 767px) {
    .footer__tel {
      width: 288px;
      margin: 0 auto;
      padding-left: 28px; } }

.footer__tel-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fe7865; }

.footer__individually {
  margin-left: 52px;
  position: relative; }
  .footer__individually::after {
    content: none;
    position: absolute;
    top: 18px;
    right: 22px;
    height: 1px;
    width: 95%;
    background-color: #d7d9df; }
    @media (max-width: 1023px) {
      .footer__individually::after {
        content: ""; } }
    @media (max-width: 767px) {
      .footer__individually::after {
        top: 15px;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 288px;
        height: 1px; } }
  @media (max-width: 1023px) {
    .footer__individually {
      grid-column: 1/-1;
      margin: 0;
      text-align: center; } }

.footer__individually-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
  margin-bottom: 22px; }
  @media (max-width: 1023px) {
    .footer__individually-text {
      margin-top: 48px; } }
  @media (max-width: 767px) {
    .footer__individually-text {
      text-align: center;
      margin-top: 44px;
      margin-bottom: 21px; } }

.footer__individually-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 173%;
  width: 321px;
  color: rgba(20, 21, 23, 0.5); }
  @media (max-width: 1023px) {
    .footer__individually-desc {
      width: 100%;
      padding: 0 16px; } }
  @media (max-width: 767px) {
    .footer__individually-desc {
      text-align: center;
      width: 320px;
      margin: 0 auto; } }

.pay-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 728px;
  min-height: 444px;
  background-color: #fbf8f8;
  background-image: url("../img/paymodal-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 2;
  display: none; }
  .pay-modal--active {
    display: block; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .pay-modal {
      background-image: url("../img/paymodal-desktop@2x.jpg"); } }
  @media (max-width: 767px) {
    .pay-modal {
      background-image: none;
      width: 320px; } }

.pay-modal__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 390px;
  margin-left: 336px; }
  @media (max-width: 767px) {
    .pay-modal__form {
      margin: 0;
      width: 320px; } }

.pay-modal__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  width: 100%;
  color: #48494d;
  margin-top: 73px;
  margin-bottom: 51px; }

.pay-modal__label {
  position: absolute;
  top: 17px;
  left: 26px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }
  .pay-modal__label::after {
    content: "*";
    position: absolute;
    color: #fe7865;
    top: -8px;
    left: -11px; }
  @media (max-width: 767px) {
    .pay-modal__label {
      top: 184px;
      left: 55px; } }

.pay-modal__control {
  background-color: #ffffff;
  border: 1px solid rgba(44, 46, 63, 0.3);
  padding: 16px 15px 15px 51px;
  width: 269px;
  min-height: 50px; }
  .pay-modal__control:nth-child(3) {
    margin-bottom: 17px; }

.pay-modal__control-wrap {
  position: relative;
  margin-bottom: 18px; }
  .pay-modal__control-wrap--active::before {
    content: "Данные не верны";
    position: absolute;
    top: -16px;
    left: 0;
    color: #fe7865;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px; }
  .pay-modal__control-wrap--active .pay-modal__control {
    border: 1px solid #fe7865; }
  .pay-modal__control-wrap:nth-child(3) .pay-modal__control {
    padding: 16px 15px 15px 14px; }

.pay-modal__btn {
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 39px 17px 40px;
  margin-top: 1px;
  background-color: #fe7865;
  border: none;
  cursor: pointer; }
  .pay-modal__btn:hover {
    background-color: #f17d4b; }

.pay-modal__control::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }

.pay-modal__control:-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }

.pay-modal__btn-close {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/closemodal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px; }

.pay-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1; }
  .pay-modal-overlay--active {
    display: block; }

.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 728px;
  min-height: 444px;
  background-color: #fbf8f8;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2; }
  .success-modal--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 767px) {
    .success-modal {
      width: 320px; } }

.success-modal__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494d;
  padding: 0 112px; }
  @media (max-width: 767px) {
    .success-modal__text {
      padding: 0 10px; } }

.success-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/closemodal.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none; }
