.main-top {
  position: relative;

  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 860px;

    @media (max-width: $tablet-width) {
      justify-content: center;
      width: 100%;
      min-height: 344px;
      align-items: start;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/background-desktop@1x.jpg");
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    width: 100%;
    top: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-desktop@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      min-height: 344px;
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/background-tablet@1x.jpg");
      min-height: 235px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-tablet@2x.jpg");
      }
    }

    @media (max-width: $min-width) {
      background-image: url("../img/background-mobile@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-mobile@2x.jpg");
      }
    }
  }
}

.main-top__container {
  width: 412px;
  min-height: 379px;
  margin-top: -109px;
  margin-right: 65px;

  @media (max-width: $tablet-width) {
    text-align: center;
    min-height: 201px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main-top__text {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;
  color: $basic-white;
  width: 412px;
  min-height: 159px;

  @media (max-width: $tablet-width) {
    width: 398px;
    line-height: 150%;
    text-align: center;
    color: $basic-white;
    min-height: 45px;
    font-size: 32px;
    padding-top: 58px;
  }

  @media (max-width: $mobile-width) {
    max-width: 294px;
    min-height: 72px;
    margin-top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    padding-top: 82px;
  }
}

.main-top__desc {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px;
  color: $basic-white;
  width: 376px;
  min-height: 76px;
  margin-top: 29px;
  margin-bottom: 33px;

  @media (max-width: $tablet-width) {
    width: 398px;
    text-align: center;
    letter-spacing: -0.466667px;
    color: $basic-white;
    margin-top: 14px;
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
    min-height: 108px;
    color: $lite-dark;
    margin-top: 99px;
    margin-bottom: 20px;
  }
}

.main-top__btn {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $orange;
  width: 340px;
  min-height: 75px;
  padding: 30px 40px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $hover-btn;
  }

  @media (max-width: $tablet-width) {
    width: 250px;
    min-height: 50px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding: 17px 40px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    min-height: 50px;
  }
}

.main-top__btn-text {
  margin: 0;
}
