.price {
  margin-top: -270px;

  & .wrapper {
    padding-left: 23px;

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin-top: 80px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 41px;
  }
}

.price__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 350px 350px;
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.price__item {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  width: 372px;
  min-height: 676px;
  padding: 30px;
  border: 1px solid rgba($lite-dark, 0.3);
  border-radius: 6px;

  &:nth-child(2) {
    & .price__text-head {
      letter-spacing: -2px;
    }
  }

  &:nth-child(3) {
    grid-template-rows: 1fr 2fr 2fr;
    padding-right: 0;
    padding-top: 114px;
    padding-left: 75px;
    padding-bottom: 0;
    border: none;

    @media (max-width: $tablet-width) {
      grid-column: 1/-1;
      grid-row: 1;
      padding: 0;
      width: 100%;
      grid-template-rows: max-content max-content max-content;
      min-height: auto;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 6px;
    }
  }

  &:hover:not(:nth-child(3)) {
    border: 3px solid $orange;
    padding: 28px;

    & .price__text-head {
      color: $orange;
    }

    & .price__text-add {
      color: $orange;
    }

    & .price__adv {
      &::after {
        content: "";
        top: 0;
        left: -34px;
        background-image: url("../img/icon/check.svg");

        @media (max-width: $tablet-width) {
          top: 6px;
          left: -31px;
        }
      }
    }

    @media (max-width: $tablet-width) {
      padding: 18px;
      padding-bottom: 0;
      margin-bottom: -2px;
    }
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 288px;
    padding: 20px;
    min-height: 631px;
    padding-bottom: 0;
    grid-template-rows: max-content max-content 1fr max-content;
  }

  @media (max-width: $mobile-width) {
    min-height: 584px;
  }
}

.price__text {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    justify-content: center;
    grid-row: 1/2;
    width: 248px;
  }
}

.price__text-head {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-top: 10px;
  line-height: 38px;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    font-size: 24px;
    width: 100%;
  }
}

.price__text-add {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  margin-top: 17px;
  color: rgba($basic-dark, 0.7);

  @media (max-width: $tablet-width) {
    margin-top: 9px;
  }
}

.price__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $lite-dark;
  margin-top: 38px;
  margin-bottom: 59px;
  width: 275px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 310px;
    height: 1px;
    background-color: $orange;
    opacity: 0.5;

    @media (max-width: $tablet-width) {
      width: 248px;
      left: 0;
      bottom: -9px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 248px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.price__list {
  margin: 0;
  padding: 0;
  padding-left: 28px;

  @media (max-width: $tablet-width) {
    text-align: start;
    width: 247px;
    padding-left: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.price__adv {
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: $lite-dark;
  margin-bottom: 12px;
  position: relative;
  padding-right: 2px;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    background-image: url("../img/icon/check2.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;

    @media (max-width: $tablet-width) {
      top: 11px;
      left: -27px;
    }
  }

  @media (max-width: $tablet-width) {
    line-height: 31px;
    margin-bottom: 11px;
  }
}

.price__btn {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  padding: 30px 67px;
  background-color: $orange;

  &:hover {
    background-color: $hover-btn;
  }

  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding: 19px 70px;
    width: 288px;
    margin-left: -21px;
  }
}

.price__spec-head {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $lite-dark;
  grid-row: 1/2;
  margin: 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 175px;
    height: 3px;
    background-color: $orange;

    @media (max-width: $tablet-width) {
      content: none;
    }
  }

  @media (max-width: $tablet-width) {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    color: $lite-dark;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
  }
}

.price__spec-add {
  margin: 0;
  margin-top: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: rgba($lite-dark, 0.7);

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
    margin-bottom: 17px;
  }
}

.price__contact {
  padding-left: 47px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.price__contact-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $basic-dark;
  margin-top: 50px;
  margin-bottom: 12px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
    font-size: 18px;
  }
}

.price__contact-tel {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: $basic-black;
  text-decoration: none;
  position: relative;

  & svg {
    position: absolute;
    top: -4px;
    left: -50px;
  }

  &:hover {
    color: $hover-btn;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}
