.tabs {
  margin-top: -4px;
  background-image: url("../img/places-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 239px 133px;
  min-height: 1223px;

  & .wrapper {
    padding-left: 24px;
    padding-right: 0;
    overflow: hidden;

    @media (max-width: $tablet-width) {
      padding-left: 12px;
      padding-right: 11px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/places-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: none;
    min-height: auto;
    margin-top: 88px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 5px;
  }
}

.tabs__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 902px;
  min-height: 39px;
  border-bottom: 1px solid rgba($lite-dark, 0.3);

  @media (max-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 3px;
  }
}

.tabs__name {
  list-style: none;

  & a {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.415px;
    color: rgba($lite-dark, 0.3);
    text-decoration: none;
  }

  &--active {
    & a {
      color: $orange;
    }
  }
}

.tabs__desc {
  margin: 0;
  padding: 0;
  margin-top: 89px;

  @media (max-width: $tablet-width) {
    margin-top: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 24px;
  }
}

.tabs__item {
  position: relative;
  list-style: none;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr 75px;

  &--active {
    display: grid;
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: 45px 1fr 50px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.tabs__item-text {
  margin: 0;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: $lite-dark;
  position: relative;
  z-index: 1;
  margin-bottom: -11px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 175px;
    height: 3px;
    background-color: $orange;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    grid-column: 1/-1;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;

    &::after {
      content: none;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 150%;
  }
}

.tabs__item-desc {
  margin: 0;
  margin-top: 59px;
  margin-bottom: 49px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($lite-dark, 0.7);
  width: 370px;
  min-height: 308px;
  grid-row: 2/3;
  z-index: 1;

  @media (max-width: $tablet-width) {
    grid-column: 1/-1;
    text-align: center;
    width: 100%;
    min-height: 104px;
    margin-bottom: 19px;
    margin-top: 20px;
    padding: 0 4px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 11px;
  }
}

.tabs__item-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $orange;
  text-decoration: none;
  width: 250px;
  padding: 30px 39px;
  grid-row: 3/4;
  z-index: 1;

  &:hover {
    background-color: $hover-btn;
  }

  @media (max-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0 auto;
    padding: 19px 51px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    padding: 20px 70px;
  }
}

.tabs__item-photo {
  position: absolute;
  top: -10px;
  right: 276px;
  background-color: $stub;

  @media (max-width: $tablet-width) {
    top: auto;
    left: -12px;
    bottom: 32px;
    width: calc(100% + 23px);
    height: 415px;
    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    bottom: 71px;
  }
}

.tabs__feedback {
  width: 382px;
  min-height: 367px;
  padding: 30px;
  padding-bottom: 0;
  background-color: $basic-white;
  z-index: 1;
  grid-row: 2/3;
  margin-right: 6px;
  align-self: center;
  justify-self: end;

  @media (max-width: $tablet-width) {
    grid-row: 4;
    grid-column: 1/-1;
    align-self: end;
    justify-self: center;
    margin-top: 110px;
  }

  @media (max-width: $mobile-width) {
    width: 268px;
    text-align: center;
    padding: 0 22px;
    padding-top: 22px;
  }
}

.tabs__feedback-name {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  color: $lite-dark;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 68px;
    height: 1px;
    background-color: $orange;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.tabs__feedback-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
  color: rgba($lite-dark, 0.7);
  margin: 0;
  margin-top: 34px;
  margin-bottom: 24px;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.tabs__feedback-info {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tabs__feedback-people {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.466667px;
  color: $lite-dark;

  @media (max-width: $mobile-width) {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    margin-left: 12px;
    margin-top: 11px;
  }
}
