$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #141517;
$lite-dark: #2c2e3f;
$orange: #fe7865;
$stub: #898989;
$hover-btn: #f17d4b;
$light: #fbf8f8;
$grey: #48494d;
$light-grey: #d7d9df;

$blue: rgb(110, 110, 224);

// Основные брекпоинты
$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
// допольнительные
$tablet2: 1180px;
